[submodule "thirdparty/Logger"]
	path = thirdparty/Logger
	url = https://github.com/Balisa16/Logger.git
[submodule "thirdparty/jsoncpp"]
	path = thirdparty/jsoncpp
	url = https://github.com/Balisa16/jsoncpp.git
[submodule "thirdparty/asynccamera"]
	path = thirdparty/asynccamera
	url = https://github.com/Balisa16/async-camera.git
[submodule "thirdparty/JetsonGPIO"]
	path = thirdparty/JetsonGPIO
	url = https://github.com/pjueon/JetsonGPIO.git
